.welcome {
  margin-top: 54rem;
  margin-bottom: 111rem;
}

.owl-carousel .owl-dots {
  @include mobile {
    bottom: 12rem;
  }
}

.owl-carousel .owl-stage-outer  {
  @include mobile {
    border-radius: 15rem;
   }
}

.owl-carousel .owl-item {
  padding: 0 10rem;
  @include mobile {
    border-radius: 15rem;
    padding: 0 5rem;
   }
}

.owl-carousel .owl-item img {
  @include mobile {
   border-radius: 15rem;
  }
}